{% load static %}


        <!-- Start Single Blog -->
        {% for post in related_posts %}
          <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
            <div class="blog foo">
              <div class="blog__inner">
                <div class="blog__thumb">

                  <!-- Star Header Image Area -->
                  {% for item in post.album.image_set.all %}
                    {% if item.header_image %}
                      <a href="{% url 'blog:detail_post' post_slug=post.slug %}">
                        <img src="{{ item.image.url }}" alt="blog images">
                      </a>
                    {% endif %}
                  {% endfor %}

                </div>

                <br>
                <h3>{{ post.title }}</h3>
                <br>
                <!--<p>Date: {{ post.created_date.day }}/{{ post.created_date.month }}/{{ post.created_date.year }}</p>-->
                <p>Category:<a href="{% url 'blog:category_posts' category=post.category.slug %}"> {{ post.category.name }}</a></p>
                <p>Author:<a href="{% url 'blog:author_posts' username=post.author.username %}"> {{ post.author.username }}</a></p>
                <br>
                <p>{{ post.description }}</p>
                <br>
                <div class="blog__btn">
                  <a class="read__more__btn" href="{% url 'blog:detail_post' post_slug=post.slug %}">Leer Más</a>
                </div>
                
              </div>
            </div>
          </div>
        {% endfor %}
