{% load static %}

{% now "m" as current_month %}
{% now "Y" as current_year %}
{% now "d" as current_day %}

<header id="header" class="htc-header header--5">

  <!-- Start Mainmenu Area -->
  <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header header--2">
    <div class="container">
      <div class="row">

        <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
          <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo_iniciales.png' %}" alt="logo">
            </a>
          </div>
        </div>

        <!-- Start header logo area -->
        <div class="col-md-8 col-lg-8 col-sm-5 col-xs-5">
          <nav class="mainmenu__nav hidden-xs hidden-sm">
            <ul class="main__menu">
              <li>
                <a href="{% url 'home' %}">Inicio</a>
              </li>
              <li class="drop">
                <a href="#">Proyecto</a>
                <ul class="dropdown">
                  <li>
                    <a href="{% url 'sportapp:sport' %}">Deporte</a>
                  </li>
                  <li>
                    <a href="{% url 'nutritionapp:nutrition' %}">Nutricion</a>
                  </li>
                  <!--<li>
                    <a href="{% url 'healthapp:health' %}">Salud</a>
                  </li>-->
                  <li>
                    <a href="{% url 'awardsapp:awards' %}">Premios</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="{% url 'know_us' %}">Conocenos</a>
              </li>
              <li>
                <a href="{% url 'blog:list_post' %}">Blog</a>
              </li>
              <!--<li>
                <a href="{% url 'shop:product_list' %}">Tienda</a>
              </li>-->
            </ul>
          </nav>
        </div>

        <!-- Profile Icon  -->
        <div class="col-md-2 col-sm-4 col-xs-3">
          <ul class="menu-extra">
            <!--<li class="search search__open hidden-xs"><span class="ti-search"></span></li>-->
            <li class="profile__menu"><span class="ti-user"></span></li>
            <!--<li class="cart__menu"><span class="ti-shopping-cart"></span></li>-->
            <li class="toggle__menu"><span class="ti-menu"></span></li>
          </ul>
        </div>
      </div>
      <div class="mobile-menu-area"></div>
    </div>
  </div>

</header>
