{% load static %}

<div class="slider__container slider--one slider__new">
            <div class="slider__activation__wrap owl-carousel owl-theme">

                <!-- Start Single Slide -->
                <div class="animation__style01 slide slider__full--screen" style="background: rgba(0, 0, 0, 0) url({% static 'images/sport_home_slide.jpg' %}) no-repeat scroll center center / cover ;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                                <div class="slider__content">
                                    <h1>DEPORTE</h1>
                                    <h2>Bombea el <span class="text--theme">corazón</span></h2>
                                    <!--<p>Whether you adore a classic blueblood aesthetic or a downhome décor, you can find a wenro sofa to suit your desires perfectly.</p>-->
                                    <div class="uniq__btn">
                                        <a class="htc__btn" href="{% url 'custom_register' %}">Empieza a moverte</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Start Single Slide -->
                <div class="animation__style02 slide slider__full--screen" style="background: rgba(0, 0, 0, 0) url({% static 'images/nutrition_home_slide.jpg' %}) no-repeat scroll center center / cover ;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                                <div class="slider__content">
                                    <h1>NUTRICION <br> </h1>
                                    <h2>Come <span class="text--theme">diferente</span></h2>
                                    <!--<p>Whether you adore a classic blueblood aesthetic or a downhome décor, you can find a wenro sofa to suit your desires perfectly.</p>-->
                                    <div class="uniq__btn">
                                        <a class="htc__btn" href="{% url 'custom_register' %}">shop now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Start Single Slide -->
                <div class="animation__style02 slide slider__full--screen" style="background: rgba(0, 0, 0, 0) url({% static 'images/health_home_slide.jpg' %}) no-repeat scroll center center / cover ;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                                <div class="slider__content">
                                  <h1>SALUD <span class="text--theme"></span></h1>
                                  <h2>Alarga tu <span class="text--theme">vida</span></h2>
                                  <!--<p>Whether you adore a classic blueblood aesthetic or a downhome décor, you can find a wenro sofa to suit your desires perfectly.</p>-->
                                  <div class="uniq__btn">
                                      <a class="htc__btn" href="{% url 'custom_register' %}">Mejora tu salud</a>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Start Single Slide -->
                <div class="animation__style02 slide slider__full--screen" style="background: rgba(0, 0, 0, 0) url({% static 'images/awards_home_slide.jpg' %}) no-repeat scroll center center / cover ;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                                <div class="slider__content">
                                    <h1>PREMIOS <br> </h1>
                                    <h2>Obtén <span class="text--theme">beneficios</span></h2>
                                    <!--<p>Consiguer premios y desceuntos por mantener un estilo de vida saludable.</p>-->
                                    <div class="uniq__btn">
                                        <a class="htc__btn" href="{% url 'custom_register' %}">Consigue Premios</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
